In [1]:
import json
import tkp.db
import tkp.config
import logging
import csv

import numpy as np
import pandas as pd
import scipy as sp
import healpy as hp
import datetime
import os
import glob
from astropy import units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord, match_coordinates_sky,  AltAz, EarthLocation
from astropy.io import fits
from astropy.wcs import WCS

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa

/afhome/kuiack/newtrap/local/lib/python2.7/site-packages/pyfits/__init__.py:22: PyFITSDeprecationWarning: PyFITS is deprecated, please use astropy.io.fits
  PyFITSDeprecationWarning)  # noqa

In [2]:
def run_query(transients_query, dbname, dataset_id, engine, host, port, user, pword):
    tkp.db.Database(
        database=dbname, user=user, password=pword,
        engine=engine, host=host, port=port
    )

    cursor = tkp.db.execute(transients_query, (dataset_id,))
    transients = tkp.db.generic.get_db_rows_as_dicts(cursor)
    print "Found", len(transients), "new sources"
    return transients

In [3]:
engine = 'postgresql'
host = 'ads001'
port = 5432
user = 'mkuiack'
password = 'Morecomplicatedpass1234'

query_loglevel = logging.WARNING

In [30]:
survey_stats = pd.read_csv("~/survey_stats.csv")

CS002 = EarthLocation.from_geocentric (3826577.109500000, 461022.900196000, 5064892.758, 'm')
position = SkyCoord(148.59*u.degree, 7.68*u.degree)

In [ ]:
for line in range(len(survey_stats)):
    print survey_stats.loc[line].obs, survey_stats.loc[line].dataset

    dbname = survey_stats.loc[line].obs
    dataset = survey_stats.loc[line].dataset

    logging.getLogger('sqlalchemy.engine').setLevel(query_loglevel)

    db = tkp.db.Database(engine=engine, host=host, port=port,
                     user=user, password=password, database=dbname)

    db.connect()
    session = db.Session()

    transients_query = """
        SELECT taustart_ts, band FROM image ORDER BY taustart_ts
        """
    times = pd.DataFrame(run_query(transients_query, dbname, dataset, engine, host, port, user, password))

    db._configured = False
    del db, session


    altaz = position.transform_to(AltAz(obstime=[i for i in pd.to_datetime(np.unique(times.taustart_ts.dt.round("1s")))],
                                    location=CS002))
    count = np.sum([(90.-altaz.alt.deg < 50.)])


    starttime = datetime.datetime.strftime(times.iloc[0].values[1], format="%Y-%m-%dT%H:%M:%S")
    endtime = datetime.datetime.strftime(times.iloc[-1].values[1], format="%Y-%m-%dT%H:%M:%S")
    print dbname, count, starttime, endtime
    fields=[dbname, count, starttime, endtime]
    with open(r'/home/kuiack/PSR_0950_uptime.csv', 'a') as f:
        writer = csv.writer(f)
        writer.writerow(fields)

In [6]:
survey_stats

              obs  dataset  timestamp  candidate  pass
0   _201608311510        1       9227        351     8
1   _201609051647        1      10726        597    11
2   _201609070340        1      21352        364    22
3   _201611120632        1      28203        686    43
4   _201611132000        1      10316        302    14
5   _201611140501        1      13977        370    19
6   _201702241630        1       6489        151     6
7   _201702250130        2      13071        913    44
8   _201702250800        1      21426       1345    70
9   _201702251405        1      14860        900    51
10  _201702260116        1      10669        535    27
11  _201702260800        1      21429        580    25
12  _201702261405        1      18436        621    39
13  _201702270350        1       4400         69     2
14  _201702280900        1       3512         86     1
15  _201809212320        1       5866        119     2
16  _201809220111        1       9527        202    10
17  _201809220609        1       8326        306    22
18  _201809221701        1       9949        351    18
19  _201809230412        1      17147        676    49
20  _201809280900        1      24558       1236    99
21  _201809281701        1       8030        205     7
22  _201809290600        1       7128        263    11
23  _201810162000        1      21530        323    18
24  _201810170300        1      28728        690    68
25  _201810210800        1      28728        456    30
26  _201810211605        1      24529        382    23
27      _20181024        1      28068        620    73
28      _20181025        1      28062        446    44
29      _20181026        1      28060        462    54
30      _20181027        1      28062        567    43
31      _20181028        1      21113        574    74
32      _20181029        1      22151        471    36
33      _20181101        1      28037        513    44
34      _20181102        1      37882        739    45
35   ASf_20181103        1      28057        517    37
36   ASf_20181104        1      34169        629    33
37   ASf_20181105        1      39099        694    56
38   ASf_20181231        1      35999        633    53
39   ASf_20190101        1      29562       2561   104
40   ASf_20190110        1      20678        275    25
41   ASf_20190113        1          0          0     0
42   ASf_20190117        1          0          0     0
43   ASf_20190118        1      28430        772    51
44   ASf_20190119        1      34342        395    33
45   ASf_20190120        1      24494        741    62
46   ASf_20190126        1          0          0     0
47   ASf_20190129        1          0          0     0

In [31]:
line = 13

print survey_stats.loc[line].obs, survey_stats.loc[line].dataset

dbname = survey_stats.loc[line].obs
dataset = survey_stats.loc[line].dataset

logging.getLogger('sqlalchemy.engine').setLevel(query_loglevel)

db = tkp.db.Database(engine=engine, host=host, port=port,
                 user=user, password=password, database=dbname)

db.connect()
session = db.Session()

transients_query = """
    SELECT taustart_ts, band FROM image ORDER BY taustart_ts
    """
times = pd.DataFrame(run_query(transients_query, dbname, dataset, engine, host, port, user, password))

db._configured = False
del db, session


altaz = position.transform_to(AltAz(obstime=[i for i in pd.to_datetime(np.unique(times.taustart_ts.dt.round("1s")))],
                                location=CS002))
count = np.sum([(90. - altaz.alt.deg < 50.)])


starttime = datetime.datetime.strftime(times.iloc[0].values[1], format="%Y-%m-%dT%H:%M:%S")
endtime = datetime.datetime.strftime(times.iloc[-1].values[1], format="%Y-%m-%dT%H:%M:%S")
print dbname, count, starttime, endtime
fields=[dbname, count, starttime, endtime]
# with open(r'/home/kuiack/PSR_0950_uptime.csv', 'a') as f:
#     writer = csv.writer(f)
#     writer.writerow(fields)

_201702270350 1
Found 8798 new sources
_201702270350 1 2017-02-13T12:41:37 2017-07-13T12:48:27

In [11]:
np.array([i for i in pd.to_datetime(np.unique(times.taustart_ts.dt.round("1s")))])[-1]

Timestamp('2017-07-13 12:48:27')

False

In [8]:
altaz.alt.deg[-1]

42.310453400356757

In [10]:

print altaz.az.deg[-1], altaz.alt.deg[-1],

155.195993654 42.3104534004

In [26]:
CS002 = EarthLocation.from_geocentric (3826577.109500000, 461022.900196000, 5064892.758, 'm')
position = SkyCoord([6.7,253,329.37]*u.degree, [64.15,4.6,37.83]*u.degree)

altaz = position.transform_to(AltAz(obstime=Time("2019-02-28T05:57:42", scale="utc"), location=CS002))

print altaz.az, altaz.alt

[30d32m58.781s 181d06m28.6722s 74d25m00.0345s] [38d04m22.1501s 41d38m52.4284s 37d32m32.9115s]

In [21]:
AltAz(obstime=Time("2019-02-28T05:57:42", scale="utc"))